.country{
    border: 2px solid white;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
.country-visited{
    background-color: aquamarine;
    color: black;
    border: 5px solid seagreen;
}